<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <title><%= locals.title ? title +'-':'' %> Ali's Activties' News</title>
    
    <link rel="stylesheet" href="/style/link.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="jquery-ui-datePicker2/jquery-ui.css">

    <link rel="stylesheet" href="/fontawesome/css/all.css">
</head>
<body>