<div class="rightSpace">
    <div class="rightList">
        <div class="item" onclick="location.href='/expo';">
            <div class="icon" style="background-color:#AB0020">
            <a><img src="/images/ex-logo.png" style="width:53px"></a>
            </div>
            <div class="catagoryText">
                <span class="title">展演活動</span>
                <span class="discription">展覽。音樂會。講座</span>
            </div>
        </div>

        <div class="item">
            <div class="icon" style="background-color:#70A629">
                <a><img src="/images/market-logo.png" style="width:53px"></a>
            </div>
            <div class="catagoryText">
                <span class="title">市集</span>
                <span class="discription">假日市集。二手市集。義賣會</span>
            </div>
        </div>

        <div class="item">
            <div class="icon" style="background-color:#237F9E">
                <a><img src="/images/ch-logo.png" style="width:53px"></a>
            </div>
            <div class="catagoryText">
                <span class="title">親子活動</span>
                <span class="discription">說故事。兒童手作</span>
            </div>
        </div>
        <div class="item">
                <div class="icon" style="background-color:#CB8F00">
                    <a><img src="/images/speech-logo.png" style="width:53px"></a>
                </div>
                <div class="catagoryText">
                    <span class="title">論壇講座</span>
                    <span class="discription">演講。說明會。</span>
                </div>
            </div>
    </div>
</div>