<div class="header">
    <div class="logo" onclick="location.href='/';">
        <img src="/images/a.png" class="logo">
    </div>
    <div class="title" onclick="location.href='/';">
        <h1 id="header">Ali's Activties' News</h1>
    </div>
</div>